@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<root>
    <div class="container">
        <div class="title">
            <div class="title">@GetGameState()</div>
		</div>
		<div class="content tabs-container">
            @foreach (Connection entry in Connection.All)
            {
				var playerInfo = PlayerInfo.FromConnection(entry);
				if (playerInfo == null)
					continue;

				var borderColor = "#FFA500";
				var friend = new Friend((long)entry.SteamId);				
				if (friend.IsFriend)
				{
					borderColor = "#006600";
				}
				if (entry.PartyId != 0 && entry.PartyId == Connection.Local.PartyId)
				{
					borderColor = "#6600cc";
				}
				if (entry == Connection.Local)
				{
					borderColor = "#0099cc";
				}
				if (playerInfo.isDead)
				{
					borderColor = "red";
				}
				<div class="card" style="background-color: @borderColor;">
					<div class="avatar" style="background-image: url(avatar:@entry.SteamId)">
						@if (playerInfo.isDead)
						{
							<div class="skull" style="background-image: url(ui/skull_filled.png)"></div>
						}
					</div>
					
                </div>
            }
		</div>
		<div class="subtitle">
			<div class="subtitle">@GetRoundCountTime()</div>
		</div>
		<!-- Lol I need this to push the cards to the top, IDK what I'm doing-->
		<div class="content tab-content" CanDragScroll="false">
		</div>
    </div>

</root>

@code
{
	[Property] public int lastCountdownNumber { get; set; } = -1;

	string GetGameState()
	{
		if (GameMode.instance == null)
		{
			return "";
		}

		if (GameMode.instance.modeState == ModeState.WaitingForPlayers)
		{
			return "Waiting For Players";
		}

		if (GameMode.instance.modeState == ModeState.ReadyPhase)
		{
			return "Get Ready";
		}

		return "";
	}

	string GetRoundCountTime()
	{
		if (GameMode.instance == null)
		{
			return "";
		}

		if (GameMode.instance.modeState != ModeState.ReadyPhase)
		{
			return "";
		}

		this.Dirty();

		var remainingStateTime = GameMode.instance.remainingStateTime;
		var rounded = MathX.CeilToInt(remainingStateTime);

		if (lastCountdownNumber != rounded)
		{
			Sound.Play("ui.countdown");
		}
		lastCountdownNumber = rounded;

		return rounded.ToString();
	}

	//protected override int BuildHash() => System.HashCode.Combine(RealTime.Now.CeilToInt() + this.GetDirty());
	protected override int BuildHash() => System.HashCode.Combine(RealTime.Now.CeilToInt(), this.GetDirty(), GameMode.instance.modeState);
}
