Scoreboard {
	position: absolute;
	top: -1500px;
	left: -1500px;
	right: -1500px;
	bottom: -1000px;
	//background-color: #1115;
	justify-content: center;
	align-items: center;
	font-family: Poppins;
	font-size: 22px;
	color: white; //#fff;
	//color: #fff;
	//backdrop-filter: blur( 10px );
	transform: scale( 1 );
	//transition: all 0.1s ease-out;
	z-index: 10;

	.table {
		flex-direction: column;
		width: 750px;
		//mix-blend-mode: lighten;

		.header {
			//opacity: 0.3;
			background-color: black;
		}

		.host {
			//opacity: 0.3;
			//background-color: black;
			//background-position: center;
			position: absolute;
			top: -16px;
			left: -16px;
			transform: rotate(-45deg);
		}

		.avatar {
			width: 48px;
			height: 48px;
			background-position: center;
			background-size: cover;
			position: relative;
			//border-radius: 100px;
		}

		.rank {
			width: 48px;
			height: 48px;
			background-position: center;
			background-size: cover;
			background-color: black;
			//border-radius: 100px;
		}

		.row {
			white-space: nowrap;
			//background-color: red;

			> .name {
				flex-grow: 1;
			}

			> .stat {
				width: 100px;
				justify-content: flex-end;
			}

			> * {
				padding: 0px 8px;
			}
		}

		.me {
			//color: #4cff00;
			background-color: #315E23;
		}

		.other {
			//color: #4cff00;
			background-color: black;
		}
	}

	&.hidden {
		opacity: 0.0;
		transform: scale( 0.8 );
		//transition: all 0.2s ease-in;
	}
}
