@using Sandbox;
@using Sandbox.UI;
@using System;
@inherits PanelComponent

<root>
	
    <div class="table">
        <div class="header row">
            <div class="name">Name</div>
            <div class="stat">Status</div>
        </div>

        @foreach (Connection entry in Connection.All)
        {
            string specialClass = "";
            if (entry == Connection.Local) specialClass = "me";

            <div class="row @specialClass">
                <div class="name">

                    @if (entry.IsHost)
                    {
                        <div>👑</div>
                    }

                    @entry.DisplayName


                </div>
                @{
                    var slasherPlayerInfo = PlayerInfo.ConnectionToPlayerInfo<OSPlayerInfo>(entry);
                    slasherPlayerInfo = null;
                    if (slasherPlayerInfo != null)
                    {
                        /*if (slasherPlayerInfo.isDead)
                        {
                            <div class="stat">☠️</div>
                        }
                        else
                        {
                            if (slasherPlayerInfo.isKnifer)
                            {
                                <div class="stat">🔪</div>
                            }
                            else
                            {
                                <div class="stat">🏃‍</div>
                            }
                        }*/
                    }
                    else
                    {
                        <div class="stat">❓</div>
                    }
                }
            </div>
        }

    </div>

</root>

@code
{
    protected override void OnUpdate()
    {        
        SetClass("hidden", !Input.Down("score"));
    }

    /// <summary>
    /// update every second
    /// </summary>
    protected override int BuildHash() => System.HashCode.Combine( RealTime.Now.CeilToInt() );
}
