GameResultsWidget {
	position: absolute;
	top: 0px;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background-color: transparent;
	font-weight: 400;
	font-family: Consolas;
	padding: 0;
	transition: all 0.1s ease-out;
	pointer-events: none;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	backdrop-filter: blur( 10px );


	.container {
		position: absolute;
		top: 150px;
		//padding: 20px;
		//margin: 50px;
		width: auto;
		height: 135px;
		flex-shrink: 0;
		flex-grow: 0;
		flex-direction: column;

		.title {
			//align-self: flex-start;
			align-self: center;
			//font-size: 35px;
			flex-shrink: 0;
			font-family: Poppins;
			//color: #fff;
			color: green;
			text-shadow: 1px 1px 1px black; //3.0em 3.0em 0.1em black;
			//background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
			text-decoration: underline;
			text-decoration-color: green; /* Change underline color */
			text-decoration-style: solid; /* Underline can be solid, dotted, dashed, double, wavy */
			text-decoration-thickness: 3px; /* Adjust the thickness of the underline */
		}

		.entry {
			//align-self: flex-start;
			align-self: center;
			//font-size: 35px;
			flex-shrink: 0;
			font-family: Poppins;
			color: #fff;
			color: green;
			text-shadow: 1px 1px 1px black; //3.0em 3.0em 0.1em black;
			//background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
		}
	}

	&.visible {
		opacity: 1;
	}

	&.hidden {
		opacity: 0;
		transition: all 0.2s ease-in;
	}
}
