@using Sandbox;
@using Sandbox.UI;
@implements IUIEvents;
@inherits PanelComponent

<root>
	<div class="output">
		@foreach (var entry in entries)
		{
            <div class="entry">
                <div class="killer">@entry.killer</div>
                <div class="message">@entry.message</div>
                <div class="victim">@entry.victim</div>
			</div>
		}
	</div>	
</root>

@code
{
    public record Entry(string killer, string victim, string message, TimeSince timeSinceAdded);
    List<Entry> entries = new();

    protected override void OnUpdate()
    {
        if (entries.RemoveAll(x => x.timeSinceAdded > 5.0f) > 0)
        {
            StateHasChanged();
        }
    }

    [Button]
    public void Example()
    {
        AddEntry("Killer", "Victim", "----->");
    }

    public void AddKillFeedEntry(string killer, string victim, string message)
    {
        AddEntry(killer, victim, message);
    }

    [Broadcast]
    public void AddEntry(string killer, string victim, string message)
    {
        if (string.IsNullOrWhiteSpace(message))
            return;

        entries.Add(new Entry(killer, victim, message, 0.0f));
        StateHasChanged();
    }

    [Broadcast]
    public void ClearEntries()
    {
        entries.Clear();
        StateHasChanged();
    }
}
