@using Sandbox;
@using Sandbox.UI;
@using Sandbox.Utility;
@using System;
@inherits PanelComponent

<root>
	<div class="container">
		<div class="title">
			<div class="title">@GetRoundText()</div>
		</div>
	</div>
</root>

@code
{
	protected override void OnStart()
	{
		Hide();
	}

	public void ShowAndFade()
	{
		Show();
	}

	public void Show()
	{
		SetClass("visible", true);
		SetClass("hidden", false);
	}

	public void Hide()
	{
		SetClass("visible", false);
		SetClass("hidden", true);
	}

	public string GetRoundText()
	{
		var roundCount = MathY.Max(GameMode.instance.roundCount, 1);
		var maxRoundCount = GameMode.instance.maxGameRounds;
		return $"Round {roundCount}/{maxRoundCount}";
	}

	protected override void OnUpdate()
	{
		if (GameMode.instance.modeState == ModeState.ReadyPhase)
		{
			SetClass("hidden", false);
			this.Dirty();
			return;

		}

		bool showingScoreboard = Input.Down(Inputs.score);
		SetClass("hidden", !showingScoreboard);
		if (showingScoreboard)
		{
			this.Dirty();
		}
	}

	protected override int BuildHash() => System.HashCode.Combine(RealTime.Now.CeilToInt() + this.GetDirty());
}