@using Sandbox;
@using Sandbox.UI;
@implements IUIEvents
@implements Component.INetworkListener
@inherits PanelComponent

<root>
	<div class="output">
		@foreach (var entry in Entries)
		{
            <div class="chat_entry">
                <div class="medal" style="background-image: url(@entry.img)"></div>
			</div>
		}
	</div>
	
</root>

@code
{
    public record Entry(string img, RealTimeSince timeSinceAdded);
    List<Entry> Entries = new();

    protected override void OnUpdate()
    {
        if (Entries.RemoveAll( x => x.timeSinceAdded > 5.0f ) > 0)
        {
            StateHasChanged();
        }

        /*if (Entries.Count == 0)
        {
            AddExample();
        }*/
    }

    public void AddMedalEntry(string img) => AddEntry(img);

    public void AddEntry(string img)
    {
        if (string.IsNullOrWhiteSpace(img))
            return;

        Entries.Add(new Entry(img, 0.0f));
        StateHasChanged();
    }    

    int exampleIndex = 2;
    [Button]
    public void AddExample()
    {
        var medal = Stat.KillCountToMedal(exampleIndex);
        exampleIndex++;
        if (exampleIndex > 7)
            exampleIndex = 2;

        IUIEvents.Post(x => x.AddMedalEntry($"ui/multikills/{medal}.png"));
    }

    [Button]
    public void AddExample_Ace()
    {
        var medal = Stat.KillCountToMedal(exampleIndex);
        exampleIndex++;
        if (exampleIndex > 7)
            exampleIndex = 2;

        IUIEvents.Post(x => x.AddMedalEntry($"ui/ace.png"));
    }  

}
