RankStatusWidget {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background-color: transparent;
	font-weight: 400;
	font-family: Consolas;
	padding: 0;
	transition: all 0.1s ease-out;
	pointer-events: none;
	flex-direction: row;
	justify-content: center;
	align-items: flex-end;

	.container {
		padding: 0px 20px;
		//margin: 50px;
		width: auto;
		height: 50px;
		flex-shrink: 0;
		flex-grow: 1;
		flex-direction: row;

		.rank {
			width: 32px;
			height: 48px;
			//flex-grow: 1;
			align-self: center;
			align-items: center;
			background-position: center;
			background-size: cover;
			//padding: 0px 4px 0px 4px;
			//margin: 0px 4px 0px 4px;
			//border-radius: 100px;
		}

		.pbar-container {
			position: relative;
			margin: 20px;
			width: 800px;
			border-radius: 1em;
			background-color: rgba(200,200,200,0.25);
			transform-origin: center;
			flex-grow: 1;

			.pbar-progress {
				position: relative;
				//height: 20px;
				border-radius: 1em;
				background-color: rgba(251, 255, 86, 0.5);

				&.green {
					background-color: lime;
				}

				&.amber {
					background-color: gold;
				}

				&.red {
					background-color: red;
				}
			}

			.xpStatus {
				position: absolute;
				transform: translateX( -50% );
				left: 50%;
				//position: relative;
				//flex-grow: 1;
				align-self: center;
				font-size: 25px;
				//flex-shrink: 0;
				font-family: Poppins;
				color: #fff;
				text-stroke: 5px black;
				//text-shadow: 1px 1px 1px black; //3.0em 3.0em 0.1em black;
				//background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
			}
		}
	}

	&.visible {
		opacity: 1;
	}

	&.hidden {
		opacity: 0;
		transition: all 0.2s ease-in;
	}
}
