{
  "Defaults": {
    "solid": "Collide",
    "trigger": "Trigger",
    "projectile": "Trigger",
    "equipment": "Ignore",
    "character": "Trigger",
    "character_body": "Collide"
  },
  "Pairs": [
    {
      "a": "solid",
      "b": "solid",
      "r": "Collide"
    },
    {
      "a": "trigger",
      "b": "playerclip",
      "r": "Ignore"
    },
    {
      "a": "trigger",
      "b": "solid",
      "r": "Trigger"
    },
    {
      "a": "playerclip",
      "b": "solid",
      "r": "Collide"
    },
    {
      "a": "solid",
      "b": "projectile",
      "r": "Collide"
    },
    {
      "a": "trigger",
      "b": "projectile",
      "r": "Trigger"
    },
    {
      "a": "character_body",
      "b": "character_body",
      "r": "Trigger"
    },
    {
      "a": "projectile",
      "b": "character",
      "r": "Ignore"
    },
    {
      "a": "projectile",
      "b": "projectile",
      "r": "Ignore"
    },
    {
      "a": "trigger",
      "b": "trigger",
      "r": "Trigger"
    },
    {
      "a": "projectile",
      "b": "character_body",
      "r": "Trigger"
    },
    {
      "a": "projectile",
      "b": "equipment",
      "r": "Ignore"
    },
    {
      "a": "trigger",
      "b": "equipment",
      "r": "Trigger"
    },
    {
      "a": "solid",
      "b": "equipment",
      "r": "Collide"
    },
    {
      "a": "equipment",
      "b": "equipment",
      "r": "Collide"
    },
    {
      "a": "solid",
      "b": "character_body",
      "r": "Collide"
    },
    {
      "a": "solid",
      "b": "character",
      "r": "Collide"
    },
    {
      "a": "trigger",
      "b": "character",
      "r": "Trigger"
    },
    {
      "a": "trigger",
      "b": "character_body",
      "r": "Trigger"
    },
    {
      "a": "equipment",
      "b": "character",
      "r": "Ignore"
    },
    {
      "a": "equipment",
      "b": "character_body",
      "r": "Ignore"
    },
    {
      "a": "character",
      "b": "character",
      "r": "Collide"
    },
    {
      "a": "character",
      "b": "character_body",
      "r": "Ignore"
    }
  ],
  "__guid": "75831945-0e68-41c8-973a-c052d8c46327",
  "__schema": "configdata",
  "__type": "CollisionRules",
  "__version": 1
}