{
  "Version": 2,
  "Mixers": {
    "Guid": "1925246f-2bb7-446a-ad7a-1896e6441b39",
    "Name": "Master",
    "Volume": 1,
    "Mute": false,
    "Solo": false,
    "Spacializing": 1,
    "DistanceAttenuation": 1,
    "Occlusion": 1,
    "AirAbsorption": 1,
    "Processors": [],
    "Children": [
      {
        "Guid": "cc143408-722f-4297-b19e-c65ac010d948",
        "Name": "Game",
        "Volume": 1,
        "Mute": false,
        "Solo": false,
        "Spacializing": 1,
        "DistanceAttenuation": 1,
        "Occlusion": 1,
        "AirAbsorption": 1,
        "IsDefault": true,
        "Processors": [],
        "Children": []
      },
      {
        "Guid": "4c77be5f-6766-4c3e-9e2b-b6116ef4c918",
        "Name": "UI",
        "Volume": 1,
        "Mute": false,
        "Solo": false,
        "Spacializing": 0,
        "DistanceAttenuation": 0,
        "Occlusion": 0,
        "AirAbsorption": 0,
        "Processors": [],
        "Children": []
      },
      {
        "Guid": "51c213c6-3edf-408d-92f4-526bcae14832",
        "Name": "Announcer",
        "Volume": 1,
        "Mute": false,
        "Solo": false,
        "Spacializing": 1,
        "DistanceAttenuation": 1,
        "Occlusion": 1,
        "AirAbsorption": 1,
        "Processors": [],
        "Children": []
      }
    ]
  },
  "__guid": "99e52444-988b-4a21-889d-f94d1306cec7",
  "__schema": "configdata",
  "__type": "MixerSettings",
  "__version": 2
}